#container div{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid black;
  }

  #container {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
  }

.hovered{
  background-color: black;
}

header{
  display: flex;
  justify-content: space-between;
}